mixin dropdown(classItem, text, tag, idItem, icon)
    -if (classItem=="dropdown_native")
        .dropdown.dropdown_native
            .dropdown__wrapper.js__dropdown
                -if (tag != "" || tag != undefined)
                    span= tag
                .dropdown__header.icon.icon-down
                    span.dropdown__header-item= text[0]
                ul.dropdown__dropdown(style='display: none;')
                    - for (var i = 0; i < text.length; i++)
                        li.dropdown__item
                            span.dropdown__text= text[i]
    -else if (classItem=="dropdown_image")
        .dropdown.dropdown_native
            .dropdown__wrapper.js__dropdown
                // -if (tag != "" || tag != undefined)
                //     span= tag
                .dropdown__header.icon.icon-down
                    span.dropdown__header-item= text[0]
                    img.dropdown__img(src="images/content-icons/"+icon[0] alt=text[0] title=text[0])
                ul.dropdown__dropdown(style='display: none;')
                    - for (var i = 0; i < text.length; i++)
                        li.dropdown__item
                            span.dropdown__text= text[i]
                            img.dropdown__img(src="images/content-icons/"+icon[i] alt=text[i] title=text[i])
    -else if (classItem=="dropdown_select")
        .dropdown.dropdown_select
            .dropdown__wrapper
                select.select.icon.icon-down(class=idItem)
                    - for (var i = 0; i < text.length; i++)
                        option= text[i]
    -else if (classItem=="dropdown_select_first")
        .dropdown.dropdown_select
            .dropdown__wrapper
                select.select.icon.icon-down.dropdown-menu(id=idItem required="required" data-validate="select2")
                    option(value=0 disabled="disabled" selected="selected")= text[0]
                    - for (var i = 0; i < text.length-1; i++)
                        option(value=[i+1])= text[i+1]
    -else if (classItem=="dropdown_native-link")
        .dropdown.dropdown_native
            .dropdown__wrapper.js__dropdown
                .dropdown__header.icon.icon-down
                    span.dropdown__header-item= text[0]
                ul.dropdown__dropdown(style='display: none;')
                    -if (tag.length)
                        .controls
                            .back
                                .icon.icon-left
                                span Меню
                            .hamburger.hamburger--squeeze.js-hamburger.burger
                                .hamburger-box
                                    .hamburger-inner
                    - for (var i = 0; i < text.length; i++)
                        li.dropdown__item
                            a(href='#').dropdown__text= text[i]
