include _button
include _dropdown

header.header
    .header__offer
        .container
            .header__offer-wrapper
                span.header__offer-text Специальное весеннее предложение
                a.bold.small.header__offer-link(href="#" title='special offer') Подробнее
                .close
                    .close-container
                        .leftright
                        .rightleft
                        .text закрыть
    .container
        .header__wrapper
            .header__info-category
                a(href='#' title='Вход в Личный Кабинет' class="personal") Вход в Личный Кабинет
                a(href='#' title='Избранное' class="wishlist") Список желаний
                - var text = ["Покупателю", "Доставка и оплата", "Таблица размеров", "Гарантия и возврат", "Блог", "Новости", "О компании", "Вопросы и ответы", "Контакты"];
                +dropdown("dropdown_native-link", text, "header", "header-links", "")
                a(href='#' title='Wholesale and Dropshipping' class="wholesale") Опт и дропшиппинг
            .header__phone.icon.icon-down(data-target="phone")
                span.title Консультация
                span +38 (067) 434 23 64
            .header__lang
                a.active(href="#" title='Rus') Рус
                a(href="#" title='Ukr') Укр
            .header__currency
                - var text = ["Грн", "Руб", "Дол"];
                +dropdown("dropdown_native-link", text, "", "header-currency", "")
            .header__personal
                a(href="/personal/kariant.html" title="personal") Личный кабинет
            .header__burger
                .hamburger.hamburger--squeeze.js-hamburger.burger
                    .hamburger-box
                        .hamburger-inner
            .header__phone.header__phone_mobile(data-target="phone")
                .icon.icon-phone
            .header__search_mobile(data-target="search")
                .icon.icon-search
                span Поиск
            .header__logo
                a(href="/kariant/index.html" title="main")
                    img(data-src="images/other/logo.svg" alt="kariant" title="kariant")
            nav.header__menu
                ul.header__menu-list
                    li.header__menu-item.header__menu-item-main.header__menu-catalog
                        a(href="/kariant/catalog.html" class="header__menu-item-link header__menu-link" title="Women") Женщинам
                        .header__menu-list-wrapper
                            ul.header__menu-list-sub
                                .controls
                                    .back
                                        .icon.icon-left
                                        span Меню
                                    .hamburger.hamburger--squeeze.js-hamburger.burger
                                        .hamburger-box
                                            .hamburger-inner
                                -var mainSubZ = ["Верхняя одежда", "Платья", "Футболки", "Костюмы", "Брюки", "Юбки", "Худи", "Блейзеры", "Джинсы"]
                                -for (var z=0; z<mainSubZ.length; z++)
                                    li.header__menu-item.header__menu-item-sub
                                        a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link" title="catalog item")= mainSubZ[z]
                                        ul.header__menu-list-sub
                                            .controls
                                                .back
                                                    .icon.icon-left
                                                    span Женщинам
                                                .hamburger.hamburger--squeeze.js-hamburger.burger
                                                    .hamburger-box
                                                        .hamburger-inner
                                            -var mainSubN = ["Зимние куртки", "Демисезонные куртки", "Весенние куртки", "Шубы", "Шубы", "Шубы", "Шубы", "Шубы", "Шубы", "Шубы"]
                                            -for (var n=0; n<mainSubN.length; n++)
                                                li.header__menu-item.header__menu-item-sub
                                                    a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link" title="catalog sub-item")= mainSubN[n]
                                                    ul.header__menu-list-sub
                                                        .controls
                                                            .back
                                                                .icon.icon-left
                                                                span Верхняя одежда
                                                            .hamburger.hamburger--squeeze.js-hamburger.burger
                                                                .hamburger-box
                                                                    .hamburger-inner
                                                        -var mainSubP = ["Парки", "Длинные куртки", "Короткие куртки", "Пуховики-одеяла", "Бомберы", "Зимние куртки Plus Size", "Худи"]
                                                        -for (var p=0; p<mainSubP.length; p++)
                                                            li.header__menu-item.header__menu-item-sub
                                                                a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link" title="catalog sub-sub-item")= mainSubP[p]
                                            li.header__menu-item.header__menu-item-sub.header__menu-item-all
                                                a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link btn-link-small btn-link-line" title="all category") Все категории
                                li.header__menu-item.header__menu-item-sub
                                    a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link" title="Overalls") Комбинезоны
                                li.header__menu-item.header__menu-item-sub.header__menu-item-all
                                    a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link btn-link-small btn-link-line" title="all category") Все категории
                            a.header__menu-list-popular(href="/kariant/catalog.html" title="catalog popular")
                                img.header__menu-list-popular-image(data-src="images/products/14.jpg" alt="kariant" title="kariant")
                                span.header__menu-list-popular-text.title Верхняя одежда

                    li.header__menu-item.header__menu-item-main.header__menu-catalog
                        a(href="/kariant/catalog.html" class="header__menu-item-link header__menu-link" title="Men") Мужчинам
                        .header__menu-list-wrapper
                            ul.header__menu-list-sub
                                .controls
                                    .back
                                        .icon.icon-left
                                        span Меню
                                    .hamburger.hamburger--squeeze.js-hamburger.burger
                                        .hamburger-box
                                            .hamburger-inner
                                -var mainSubA = ["Верхняя одежда", "Рубашки", "Футболки", "Костюмы", "Брюки", "Спортивная одежда"]
                                -for (var a=0; a<mainSubA.length; a++)
                                    li.header__menu-item.header__menu-item-sub
                                        a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link" title="catalog item")= mainSubA[a]
                                        ul.header__menu-list-sub
                                            .controls
                                                .back
                                                    .icon.icon-left
                                                    span Мужчинам
                                                .hamburger.hamburger--squeeze.js-hamburger.burger
                                                    .hamburger-box
                                                        .hamburger-inner
                                            -var mainSubB = ["Однобортный", "Двубортный", "Костюм-тройка", "Casual", "Fashion item", "Английский", "Худи", "Блейзеры", "Джинсы", "Блейзеры"]
                                            -for (var b=0; b<mainSubB.length; b++)
                                                li.header__menu-item.header__menu-item-sub
                                                    a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link" title="catalog sub-item")= mainSubB[b]
                                                    ul.header__menu-list-sub
                                                        .controls
                                                            .back
                                                                .icon.icon-left
                                                                span Верхняя одежда
                                                            .hamburger.hamburger--squeeze.js-hamburger.burger
                                                                .hamburger-box
                                                                    .hamburger-inner
                                                        -var mainSubC = ["Английский", "Итальянский", "Американский", "Европейский", "Немецкий", "Французский"]
                                                        -for (var c=0; c<mainSubC.length; c++)
                                                            li.header__menu-item.header__menu-item-sub
                                                                a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link" title="catalog sub-sub-item")= mainSubC[c]
                                            li.header__menu-item.header__menu-item-sub.header__menu-item-all
                                                a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link btn-link-small btn-link-line" title="all category") Все категории
                                li.header__menu-item.header__menu-item-sub
                                    a(href="/kariant/catalog.html" class="header__menu-item-sub-link header__menu-link" title="Overalls") Аксессуары
                            a.header__menu-list-popular(href="/kariant/catalog.html" title="catalog popular")
                                img.header__menu-list-popular-image(data-src="images/products/13.png" alt="kariant" title="kariant")
                                span.header__menu-list-popular-text.title Верхняя одежда
                        li.header__menu-item.header__menu-item-main
                            a(href="/kariant/stock.html" class="header__menu-item-link header__menu-link" title="Sell-out") Распродажа
                        li.header__menu-item.header__menu-item-main
                            a(href="/kariant/stock.html" class="header__menu-item-link header__menu-link" title="New items") Новинки
            .header__search(data-target="popup-search")
                .container
                    include _search
                    .close
                        .close-container
                            .leftright
                            .rightleft
                            .text закрыть
            .header__wishlist
                a(href="/wishlist.html" title='Избранное').icon.icon-wishlist-empty.label-link
            .header__cart.active
                .icon.icon-cart-empty.label-link
                .value (1)




