include _button
include _input-number
include _basket-item

mixin product-item(img, itemTitle, price, priceOld, classItem, vendor, sale, label, classLabel, missing)
    .product-item(class=classItem[i])
        .product-item__right
        .product-item__colors
            a(href="/card.html" title='Амалия Зеленый')
                img(data-src="images/products/12.jpg" alt='Амалия Зеленый' title='Амалия Зеленый')
            a(href="/card.html" title='Амалия Желтый')
                img(data-src="images/products/17.jpg" alt='Амалия Желтый' title='Амалия Желтый')
            a(href="/card.html" title='Амалия Синий')
                img(data-src="images/products/16.jpg" alt='Амалия Синий' title='Амалия Синий')
            a(href="/card.html" title='Амалия Красный')
                img(data-src="images/products/12.jpg" alt='Амалия Красный' title='Амалия Красный')
            a(href="/card.html" title='Амалия Белый')
                img(data-src="images/products/17.jpg" alt='Амалия Белый' title='Амалия Белый')
            a(href="/card.html" title='Амалия Черный')
                img(data-src="images/products/16.jpg" alt='Амалия Черный' title='Амалия Черный')
            //если цветовых вариаций больше чем 6 выводить ...
            a(href="/card.html" title='Амалия Фиолетовый') ...
        a.product-item__wrapper(href="/card.html")
            .product-item__img
                .product-item__favorite
                    .icon.icon-wishlist-empty.label-link
                - if(label[i].length||sale[i].length)
                    .product-item__label
                        - if(label[i].length)
                            //если есть статус товара - выводим блок label
                            .label-status(class=classLabel[i])= label[i]
                        - if(sale[i].length)
                            //если есть скидка - выводим этот блок
                            .product-item__sale
                                .value= sale[i]
                                .perc %
                img(data-src="images/products/" + img[i] alt= itemTitle[i] title= itemTitle[i])
            .product-item__main
                h2.title.product-item__title.subtitle-small(title= itemTitle[i] alt= itemTitle[i])= itemTitle[i]
                .product-item__offer
                    .product-item__price-box
                        .product-item__price
                            //если есть цена для оптовиков - выводим блок from
                            span.from от
                            span.price= price[i]
                            span.currency грн
                        - if(priceOld[i].length)
                            //если есть старая цена, выводим этот блок
                            .product-item__price.product-item__price_old
                                span.price= priceOld[i]
                                span.currency грн
                    //если есть товар в наличии выводим такую кнопку
                    +button('Купить', 'button')(class="icon icon-cart")(data-target="cart")
        .product-item__drop
            .product-item__buttons
                - if(missing[i]==false)
                    //если есть товар в наличии выводим такую кнопку
                    +button('В корзину', 'button')(class="icon icon-cart")(data-target="cart")
                    .icon.icon-point(data-target="one-click")
                        span Купить в 1 клик
                - if(missing[i]==true)
                    //если нет товара в наличии выводим такую кнопку
                    +button('Сообщить когда появится', 'button')(class="btn-missing" data-target="missing")
            - if(missing[i]==false)
                //если нет товара в наличии этот блок с размерами не выводится потому что размеров нет
                .product-item__sizes
                    span.subtitle Размеры в наличии
                    .product-item__sizes-box
                        a(href="/card.html" title='Амалия Фиолетовый 42') 42
                        a(href="/card.html" title='Амалия Фиолетовый 44') 44
                        a(href="/card.html" title='Амалия Фиолетовый 46') 46
                        a(href="/card.html" title='Амалия Фиолетовый 48') 48
                        a(href="/card.html" title='Амалия Фиолетовый 50') 50
                        a(href="/card.html" title='Амалия Фиолетовый 52') 52
                        a(href="/card.html" title='Амалия Фиолетовый 54') 54
                        a(href="/card.html" title='Амалия Фиолетовый 56') 56
                        a(href="/card.html" title='Амалия Фиолетовый') ...



